<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!-- This component runs under the test APK's own UID, outside the target. -->
        <activity android:name="cc.galaxnet.novascale.browser.HostileProxyActivity" android:exported="true" />
    </application>
</manifest>
